.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  background-color : black ;
}

.input {
 
  background-color: rgb(9, 96, 108);
  display: inline-block;
  border-radius: 5px;
  font-family: fantasy;
  font-size: 25px ;

 
  
}

.placeholder {
  color: rgb(189, 165, 165);
}


div{
  margin-left: 20px ;
}

.true{
text-decoration: line-through;
text-decoration-color: rgb(247, 9, 9);
text-decoration-style: wavy ; 

}


.input{
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  font-family: fantasy;
  font-size: 25px ;
}

.btn {
  background-color:rgb(31, 92, 92) !important;
  color:white !important;
  font-weight: 900;
  margin: 0 0 10px 0;
  padding: 15px;
  border: 5px solid white;
  font-family: fantasy;
  font-size: 25px ;
}

/* Change background and text color on hover */
.btn:hover {
  background-color:white !important;
  color:#BD6983 !important;
  font-size: 25px ;
  
}


h1{
font-family: Comic Sans MS ;
text-align: center;
margin-top: 100px;
color: darkslategray ;
font-size: 70px;
} 


li{
  font-family: Chalkduster ;
  text-align: center ;
  margin-top: 30px ;
  list-style: none;
  font-size: 30px;
  color : white ;
}




form{
  text-align: center ;
  margin-left : 40px ;
  margin-bottom: 200px;
}



::placeholder { 
  color: red;
}
